// Base colors
$base-white: #ffffff;
$base-grey: #7f8c8d;
$base-dark-blue: #34495e;
$base-light-grey: #ecf0f1;
$base-blue: #2196F3;
$base-yellow: #ffcc00;
$base-red: #e74c3c;
$base-dark-grey: darkgray;

// Derived colors
$secondary-bg-color: $base-white;
$secondary-text-color: $base-grey;
$applist-header-bg: $base-dark-blue;
$applist-header-text: $base-light-grey;
$applist-link-color: $base-blue;
$applist-row-even-bg: lighten($base-grey, 40%);
$applist-row-hover-bg: lighten($base-blue, 20%);
$border-color: darken($base-white, 8%);
$border-radius: 3px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
$close-color: $secondary-text-color;
$close-hover-color: darken($secondary-text-color, 20%);
$dropdown-btn-bg: darken($base-dark-blue, 10%);
$dropdown-content-bg: $base-light-grey;
$dropdown-content-hover-bg: lighten($base-light-grey, 2%);
$error-color: $base-red;
$footer-link-color: $base-dark-grey;
$footer-link-hover-color: darken($footer-link-color, 10%);
$link-color: $base-yellow;
$link-hover-color: darken($link-color, 20%);
$modal-overlay-color: rgba(0, 0, 0, 0.5);
$new-session-link-bg: $base-yellow;
$new-session-link-hover-bg: darken($new-session-link-bg, 20%);
$primary-bg-color: lighten($base-dark-blue, 80%);
$primary-text-color: darken($base-dark-blue, 10%);
$reply-message-bg: $secondary-bg-color;
$reply-message-border: lighten($base-dark-blue, 50%);
$response-message-bg: $secondary-bg-color;
$response-message-border: lighten($base-dark-blue, 50%);
$spinner-border-color: rgba(0, 0, 0, 0.1);
$toolbar-bg-color: $secondary-bg-color;
$toolbar-hover-bg-color: darken($secondary-text-color, 5%);
$toolbar-hover-text-color: $secondary-bg-color;
$toolbar-text-color: $primary-text-color;
$transition-speed: 0.25s;
$user-message-bg: lighten($base-blue, 40%);
$user-message-border: lighten($base-blue, 30%);
$verbose-pre-bg: lighten($base-dark-grey, 10%);
$verbose-pre-border: darken($base-light-grey, 5%);
