#form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0;
    padding: 5px;
    flex-shrink: 0;
}

pre {
    white-space: pre-wrap; /* Since CSS modules do not automatically apply this */
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Adjust this value based on your preferred container height */
}


#namebar {
    background-color: #f1f1f1;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    text-align: end;
    horiz-align: right;
    z-index: 2;
}

#namebar a {
    color: #000;
    text-decoration: none;
    padding: 5px;
}

#namebar a:hover {
    background-color: #ddd;
}
